body{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 0 20px 0;
    max-width: 1280px;
    margin: auto;
    background: #3f4752;
}
.logomenu{
    height: 45px;
    margin: auto;
    display: flex;
    background: #ebebeb;
    max-width: 1000px;
    border-radius: 3px;
    box-shadow: 0 3px 5px #262b31;
}
.menu{
    width: 71%;
    background: #ebebeb;
}
header{
    padding: 20px 0 20px 0;
    background: #3f4752;
}
.menu ul{
    text-shadow: 0 2px 2px white;
    height: 100%;
    margin: 0;
    padding: 13px 0 0 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;    
}
.menu li{
    height: 100%;    
}
.menu a{
    width: 100%;
    height: 100%;
    align-items: center;
    height: 45px;
    text-decoration: none;
    padding: 14px 30px;
    color:#445b85;
}
.menu a:hover{
    color: #a55f95 
}
.logo{
    width: 29%;
    font-family: Arial;
    font-weight: bold;
    font-size:  24px;
    padding: 9px 0 10px 20px;
    color: #373e48;
}
.logo d{
    color: #a55f95;
}
.logo c{
    color: #8c95a6;
}
.osnbody{
    background: #485464;
    border-radius: 3px;
    padding: 15px 12px;
    border: 1px solid #66707c;
    margin: auto;
    max-width: 975px;
    display: flex;
    flex-wrap: wrap;
}
.osnleft{
    width: 22%;
}
.leftbody{
    width: 100%;
    border-radius: 3px;
    background: #373e48;
    box-shadow: inset 0 -2px 1px #66707c,
                inset 0 3px 2px #262b31;
}
.leftbody2{
    margin: 23px 0 0 0;
    width: 100%;
    border-radius: 3px;
    background: #373e48;
    box-shadow: inset 0 -2px 1px #66707c,
                inset 0 3px 2px #262b31;
}
.leftbody ul{
    list-style-image: url(img/liststyle.png);
    list-style-position: inside;
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px black;
}
.leftbody li{
    border-bottom: 1px solid#7e8691;
    padding: 7px 0 7px 12px;
}
#down{
    border-bottom: none;
}
.leftbody a{
    text-decoration: none;
    color: #e5e4e2;
    font-size: 13px;
}
.leftbody a:hover{
    text-decoration: underline;
}
.leftbody2 h2{
    margin: 0;
    color:white;
    font-size: 14px;
    padding: 16px 0 0 13px;
    font-family: Arial;
    text-shadow: 0 1px 1px black;
}
.leftbody2 h3{
    margin: 0;
    color:white;
    font-size: 12px;
    padding: 20px 13px 35px 13px;
    font-family: Arial;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
    text-shadow: 0 1px 1px black;
}
.leftbody2 a{
    font-size: 13px;
    color:#ff8de3;
}
.leftbody2 q{
    quotes: none;
}
.leftbody2 q::after{
    color:#ff8de3;
    content: '\00bb';
}
.read{
    padding: 0 13px 20px 128px;
}
.rightbody{
    width: 75%;
    padding: 0 0 0 20px;
}
.text h2{
    margin: 0;
    font-size: 18px;
    font-family: Arial;
    color: white;
    text-shadow: 0 1px 1px black;
}
.text h3{
    text-shadow: 0 1px 1px black;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-family: Arial;
    color: white;
    text-align: justify;
}
.text h3 a{
    color:#e07dc8;
}
.text h3 a:focus{
    color: blue;
}
.img{
    margin: 20px 0 10px 0;
    font-size: 16px;
    font-family: Arial;
    color: white;
    text-shadow: 0 1px 1px black;
}
.images{
    display: flex;
}
.imgeses{
    width: 220px;
    height: 105px;
    margin: 0 20px 0 0;
    background: white;
    text-align: center;
    font-size: 18px;
    color: #cfcfcf;
    font-family: Arial;
    text-transform: uppercase;
    border: 10px solid #697689;
    padding-top: 80px;
}
.imgeses i{
    width: 100%;
    font-style: normal;
}
.listAll{
    display: flex;
}
.h3List{
    margin: 0;
    font-size: 14px;
    color: white;
    font-family: Arial;
}
li{
    color: white;
    font-family: Arial;
}
.listUno, .listOrd, .listDes{
    color: white;
    font-family: Arial;
    font-size: 13px;
    text-shadow: 0 1px 1px black;
}
.listUno ul, .listOrd ul{
    padding: 0 0 0 20px;
}
.listDes ul{
    list-style: none;
    padding: 0 0 0 20px;
}
.listDiscript li{
    padding: 0 0 6px 0;
}
@media (max-width: 1000px) {
    .logomenu{
        display: block;
    }
    .menu{
        width: 100%;
        margin: 20px 0 0 0;
    }
    .menu ul{
        display: block;
    }
    .menu li{
        padding: 10px 0 0 0;
    }  
    .menu a{
        width: 100%; 
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 30px;
        border-bottom: 3px solid #445b85;
    }
    .menu a:hover{
        color: #a55f95 
    }
    .osnbody{
        margin: 370px 0 0 0;
    }

}
